body {
  background: white;
  font-family: "Segoe UI";
  margin: 30px;
}
h1 {
  font-family: "Bangers", cursive;
  font-size: 56px;
  text-align: center;
}
p {
  font-family: "Varela Round", sans-serif;
  font-size: 24px;
  text-indent: 30px;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}
ol {
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
}
th {
  text-align: center;
  text-indent: 15px;
}

.Profile {
  font-family: "Varela Round", sans-serif;
  font-size: 24px;
  margin-bottom: 5;
  border: black;
}
#Name {
  font-family: "Istok Web", sans-serif;
  font-size: 46px;
}
#Matrix {
  font-family: "Istok Web", sans-serif;
  font-size: 22px;
  border: 1px solid bisque;
  margin-top: 30px;
}
